@use '../../styles/_vars';
@use '../../styles/_mixins';

.ideas {
  .idea {
    padding: 20px;
    border: 1px solid vars.$black;
    border-radius: 10px;

    & + .idea {
      margin-top: 20px;
    }

    .ideaLink {
      @include mixins.link;
    }
  }
}
